# .travis.yml
language: python
python:
  - 3.9


# Define the build stages
jobs:
  include:
    - stage: "Test with Linux"
      name: "Test with Linux"
      install:
        - conda create -n test python=3.9
        - conda activate test
        - pip install -r requirements.txt
      script:
        - python3.9 setup.py develop

# Define additional configurations
branches:
  only:
    - main  # Adjust to your main branch name, e.g., master

notifications:
  email: false



#
#language: python
#python:
#  - "3.9"
#
#install:
#  - pip install -r requirements.txt
#
#script:
#  - python3.9 setup.py develop
#
#branches:
#  only:
#    - main  # Adjust to your main branch name, e.g., master
#
#notifications:
#  email: false



#language: python
#python:
#  - "3.9"
#
#git:
#    submodules: true
#
#install:
#  - pip install TelescopeML
#
#script:
#  - python3.9 setup.py develop
#
#branches:
#  only:
#    - main  # Adjust to your main branch name, e.g., master
#
#notifications:
#  email: false

