# .travis.yml

language: python
python:
  - "3.9"

install:
  - pip install -r requirements.txt

script:
  - python3.9 setup.py develop

branches:
  only:
    - main  # Adjust to your main branch name, e.g., master

notifications:
  email: false



#language: python
#python:
#  - "3.9"
#
#git:
#    submodules: true
#
#install:
#  - pip install TelescopeML
#
#script:
#  - python3.9 setup.py develop
#
#branches:
#  only:
#    - main  # Adjust to your main branch name, e.g., master
#
#notifications:
#  email: false

